{% extends "base.html" %}
{% block content %}
<h3>Servidor</h3>
<ul>
    <li>
        <a href="{% url 'create_server'%}">Crear servidor</a>
    </li>
    <li>
        <a href="{% url 'show_servers'%}">Mostrar servidores</a>
    </li>

</ul>

<h3>Servicio de servidor</h3>
<ul>

    <li>
        <a href="{% url 'create_service'%}">Crear Servicio</a>
    </li>

    <li>
        <a href="{% url 'show_service_by_server'%}">Mostrar servicios por servidor</a>
    </li>
    <li>
        <a href="{% url 'show_all_service'%}">Mostrar todos los servicios creados</a>
    </li>
</ul>
{% endblock %}